<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina no encontrada</title>
</head>
<body>

    <div style="text-align: center;">
        <h3> Pagina no encontrada</h3>
		
        <p>the page you are looking for not avaible!</p>
		
        <a href="/">Go to Home</a>
    </div>

</body>
</html>